*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background-color: hsl(0, 0%, 0%);
  background-image: url('/img/jeremy-perkins-uhjiu8FjnsQ-unsplash-small.jpg');
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  &:has(.topnav__open[aria-expanded='true']) {
    overflow-y: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(hsla(0, 0%, 0%, 0.5) 70%, transparent 110%);
    z-index: -1;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: 'Tektur', Arial, Helvetica, sans-serif;
  margin-block: 0;
}

h1 a {
  font-size: 2rem;
  font-size: clamp(2rem, 1.2857142857142856rem + 3.0476190476190474vw, 3rem);
  line-height: 0.8;
}

a,
a:visited,
a:active {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline 2px;
  }
}

.wrapper {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
}
