.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;

  button {
    background: none;
    border: none;
    padding: 0;

    @media (width >= 40em) {
      display: none;
    }
  }

  &__open[aria-expanded='true'] {
    + .topnav__menu {
      translate: 0;

      @media (prefers-reduced-motion) {
        opacity: 1;
      }
    }
  }

  &__close {
    display: block;
    margin-inline-start: auto;
    margin-block-end: 8rem;

    img {
      width: 2.5rem;
    }
  }

  &__menu {
    @media (width < 40em) {
      position: fixed;
      inset: 0;
      padding: 1.5rem;
      background-color: hsl(256, 100%, 33%);
      translate: 100vw 0;
      transition: translate 0.5s ease-in-out;
    }

    @media (width < 40em) and (prefers-reduced-motion) {
      translate: 0;
      opacity: 0;
      transition: opacity 500ms ease-in-out;
    }
  }

  &__links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (width < 40em) {
      flex-direction: column;
    }
  }

  &__item {
    list-style-type: none;
  }
}
